## DATA VISUALIZATION TEAM - Data Cleaning and Exploration

The purpose of this notebook is to narrow down the dataframe to useful information for the visualizations and explore data.

In [86]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [87]:
url = "https://data-seattlecitygis.opendata.arcgis.com/datasets/5b5c745e0f1f48e7a53acec63a0022ab_0.csv"
rdf = pd.read_csv(url, parse_dates=["INCDTTM"])

In [88]:
rdf.head()

,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,LOCATION,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,-122.362907,47.558372,1,326120,327620,3824232,Unmatched,Block,NaN,DELRIDGE WAY SW BETWEEN SW EDMUNDS ST AND SW H...,...,NaN,NaN,NaN,NaN,NaN,,NaN,0,0,N
1,-122.301868,47.618931,2,65200,65200,2621299,Matched,Block,NaN,E DENNY WAY BETWEEN 23RD AVE AND 24TH AVE,...,Ice,Dusk,NaN,7015014.0,NaN,32,One parked--one moving,0,0,N
2,-122.391508,47.669461,3,20100,20100,1473746,Matched,Block,NaN,NW 56TH ST BETWEEN 26TH AVE NW AND 28TH AVE NW,...,Dry,Dark - Street Lights On,NaN,4080013.0,NaN,32,One parked--one moving,0,0,N
3,-122.346296,47.620903,4,49300,49300,2072241,Matched,Intersection,28927.0,TAYLOR AVE N AND THOMAS ST,...,Dry,Daylight,NaN,6154013.0,NaN,10,Entering at angle,0,0,N
4,-122.288688,47.532714,5,29800,29800,1177964,Unmatched,Block,NaN,BEACON ER AVE S BETWEEN S PORTLAND ST AND S CH...,...,NaN,NaN,NaN,4315006.0,NaN,NaN,NaN,0,0,N

#### Need to decide how to deal with columns with high percentage of missing values

In [89]:
col_na = round(100*(rdf.isna().sum()/len(rdf)), 2)
col_nunique = rdf.nunique()
df_summary = pd.DataFrame({"data_type": rdf.dtypes,
                           "percent_missing_values": col_na,
                           "total_unique_values": col_nunique}).sort_values(by=["percent_missing_values"],
                                                                            ascending=False)
df_summary.head(25)

                      data_type  percent_missing_values  total_unique_values
PEDROWNOTGRNT            object                   97.65                    1
SPEEDING                 object                   95.52                    1
EXCEPTRSNDESC            object                   94.67                    1
INATTENTIONIND           object                   86.30                    1
INTKEY                  float64                   67.56                 7894
EXCEPTRSNCODE            object                   54.64                    2
SDOTCOLNUM              float64                   42.27               127186
LIGHTCOND                object                   11.99                    9
WEATHER                  object                   11.95                   11
ROADCOND                 object                   11.92                    9
ST_COLDESC               object                   11.87                   62
COLLISIONTYPE            object                   11.87                   10
UNDERINFL                object                   11.86                    4
JUNCTIONTYPE             object                    5.42                    7
ST_COLCODE               object                    4.27                   63
Y                       float64                    3.39                24928
X                       float64                    3.39                24928
LOCATION                 object                    2.08                25156
ADDRTYPE                 object                    1.68                    3
SEGLANEKEY                int64                    0.00                 2101
CROSSWALKKEY              int64                    0.00                 2342
SDOT_COLDESC             object                    0.00                   40
SDOT_COLCODE            float64                    0.00                   40
SERIOUSINJURIES           int64                    0.00                    7
INCDTTM          datetime64[ns]                    0.00               168501

In [90]:
rdf['PEDROWNOTGRNT'].value_counts()

Y    5177
Name: PEDROWNOTGRNT, dtype: int64

Column that states whether or not the pedestrian right of way was *not* granted. (Y/N)

In all other cases, indicates that pedestrian right of way was granted. But it only makes sense to impute 'No' when pedestrian were involved in the accident. Otherwise, perhaps grouping remainder of missing values into category 'No Pedestrians' ???

In [91]:
rdf['SPEEDING'].value_counts()

Y    9870
Name: SPEEDING, dtype: int64

Reasonable to assume that when 'SPEEDING' column is null, individual wasn't speeding. Impute 'N'.

In [92]:
rdf['SPEEDING'].fillna('N', inplace = True)

In [94]:
rdf['SPEEDING'].head()

0    N
1    N
2    N
3    N
4    N
Name: SPEEDING, dtype: object

In [95]:
rdf.columns

Index(['X', 'Y', 'OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO', 'STATUS',
       'ADDRTYPE', 'INTKEY', 'LOCATION', 'EXCEPTRSNCODE', 'EXCEPTRSNDESC',
       'SEVERITYCODE', 'SEVERITYDESC', 'COLLISIONTYPE', 'PERSONCOUNT',
       'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT', 'INJURIES', 'SERIOUSINJURIES',
       'FATALITIES', 'INCDATE', 'INCDTTM', 'JUNCTIONTYPE', 'SDOT_COLCODE',
       'SDOT_COLDESC', 'INATTENTIONIND', 'UNDERINFL', 'WEATHER', 'ROADCOND',
       'LIGHTCOND', 'PEDROWNOTGRNT', 'SDOTCOLNUM', 'SPEEDING', 'ST_COLCODE',
       'ST_COLDESC', 'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR'],
      dtype='object')

Dropping not relevant columns

In [96]:
rdf.drop(['OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO', 'STATUS', 'EXCEPTRSNCODE', 'EXCEPTRSNDESC', 'EXCEPTRSNCODE', 'SDOT_COLCODE', 'SDOTCOLNUM'],axis=1,inplace = True)

In [99]:
rdf.columns

Index(['X', 'Y', 'ADDRTYPE', 'INTKEY', 'LOCATION', 'SEVERITYCODE',
       'SEVERITYDESC', 'COLLISIONTYPE', 'PERSONCOUNT', 'PEDCOUNT',
       'PEDCYLCOUNT', 'VEHCOUNT', 'INJURIES', 'SERIOUSINJURIES', 'FATALITIES',
       'INCDATE', 'INCDTTM', 'JUNCTIONTYPE', 'SDOT_COLDESC', 'INATTENTIONIND',
       'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND', 'PEDROWNOTGRNT',
       'SPEEDING', 'ST_COLCODE', 'ST_COLDESC', 'SEGLANEKEY', 'CROSSWALKKEY',
       'HITPARKEDCAR'],
      dtype='object')

Are we renaming column names?

In [39]:
rdf['SEVERITYDESC'].value_counts()

Property Damage Only Collision    136964
Injury Collision                   58441
Unknown                            21510
Serious Injury Collision            3077
Fatality Collision                   346
Name: SEVERITYDESC, dtype: int64

In [43]:
new_df = rdf[rdf['SEVERITYDESC']=='Serious Injury Collision']

#### Injury count includes Serious Injury count

In [45]:
new_df[['SEVERITYDESC','INJURIES','SERIOUSINJURIES']].head()

                 SEVERITYDESC  INJURIES  SERIOUSINJURIES
25   Serious Injury Collision         1                1
146  Serious Injury Collision         1                1
239  Serious Injury Collision         2                1
280  Serious Injury Collision         1                1
451  Serious Injury Collision         1                1

In [8]:
conda install basemap

Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Solving environment: failed with repodata from current_repodata.json, will retry with next repodata source.
Collecting package metadata (repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /opt/anaconda3

  added / updated specs:
    - basemap


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    basemap-1.2.0              |   py37h0acbc05_0        14.4 MB
    conda-4.8.3                |           py37_0         2.8 MB
    geos-3.6.2                 |       h5470d99_2         1.1 MB
    proj4-5.2.0                |       h0a44026_1         6.6 MB
    pyproj-1.9.6               |   py37h9c430a6_0          58 KB
    pyshp-2.1.0                |             py_0          35 KB
    ------------------------------------------------------------
                                           Total:        25.0 MB

The following NEW packages will be INSTALLED:

  basemap            pkgs/main/osx-64::basemap-1.2.0-py37h0acbc05_0
  geos               pkgs/main/osx-64::geos-3.6.2-h5470d99_2
  proj4              pkgs/main/osx-64::proj4-5.2.0-h0a44026_1
  pyproj             pkgs/main/osx-64::pyproj-1.9.6-py37h9c430a6_0
  pyshp              pkgs/main/noarch::pyshp-2.1.0-py_0

The following packages will be UPDATED:

  conda                                       4.7.12-py37_0 --> 4.8.3-py37_0



Downloading and Extracting Packages
proj4-5.2.0          | 6.6 MB    | ##################################### | 100%
pyshp-2.1.0          | 35 KB     | ##################################### | 100%
conda-4.8.3          | 2.8 MB    | ##################################### | 100%
basemap-1.2.0        | 14.4 MB   | ##################################### | 100%
pyproj-1.9.6         | 58 KB     | ##################################### | 100%
geos-3.6.2           | 1.1 MB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [20]:
pip install geopandas

Collecting geopandas
  Downloading https://files.pythonhosted.org/packages/f8/dd/c0a6429cc7692efd5c99420c9df525c40f472b50705871a770449027e244/geopandas-0.8.0-py2.py3-none-any.whl (962kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 962kB 4.0MB/s eta 0:00:01
Requirement already satisfied: pandas>=0.23.0 in /opt/anaconda3/lib/python3.7/site-packages (from geopandas) (1.0.4)
Collecting fiona (from geopandas)
  Downloading https://files.pythonhosted.org/packages/1c/63/447c1f527aad417c9a54327a3aa4a26be7914865bc78e35e981762552849/Fiona-1.8.13.post1-cp37-cp37m-macosx_10_9_x86_64.whl (13.9MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 13.9MB 3.2MB/s eta 0:00:01     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–Š      | 11.2MB 2.7MB/s eta 0:00:02
Collecting shapely (from geopandas)
  Downloading https://files.pythonhosted.org/packages/8d/29/1cafd5ec68237611cfabdddc0ca966f3030d7c930db1a61a90cf008456c7/Shapely-1.7.0-cp37-cp37m-macosx_10_9_x86_64.whl (1.6MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1.6MB 5.2MB/s eta 0:00:01
Collecting pyproj>=2.2.0 (from geopandas)
  Downloading https://files.pythonhosted.org/packages/aa/2a/902716ae1a94d8c16a8f65fbd76aa0aa88d82bf20b40660f1ad0d1c01b24/pyproj-2.6.1.post1-cp37-cp37m-macosx_10_9_x86_64.whl (13.0MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 13.0MB 2.9MB/s eta 0:00:01
Requirement already satisfied: pytz>=2017.2 in /opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.23.0->geopandas) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.23.0->geopandas) (2.8.0)
Requirement already satisfied: numpy>=1.13.3 in /opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.23.0->geopandas) (1.17.2)
Requirement already satisfied: click<8,>=4.0 in /opt/anaconda3/lib/python3.7/site-packages (from fiona->geopandas) (7.0)
Collecting munch (from fiona->geopandas)
  Downloading https://files.pythonhosted.org/packages/cc/ab/85d8da5c9a45e072301beb37ad7f833cd344e04c817d97e0cc75681d248f/munch-2.5.0-py2.py3-none-any.whl
Collecting click-plugins>=1.0 (from fiona->geopandas)
  Downloading https://files.pythonhosted.org/packages/e9/da/824b92d9942f4e472702488857914bdd50f73021efea15b4cad9aca8ecef/click_plugins-1.1.1-py2.py3-none-any.whl
Requirement already satisfied: six>=1.7 in /opt/anaconda3/lib/python3.7/site-packages (from fiona->geopandas) (1.12.0)
Collecting cligj>=0.5 (from fiona->geopandas)
  Downloading https://files.pythonhosted.org/packages/e4/be/30a58b4b0733850280d01f8bd132591b4668ed5c7046761098d665ac2174/cligj-0.5.0-py3-none-any.whl
Requirement already satisfied: attrs>=17 in /opt/anaconda3/lib/python3.7/site-packages (from fiona->geopandas) (19.3.0)
Installing collected packages: munch, click-plugins, cligj, fiona, shapely, pyproj, geopandas
  Found existing installation: pyproj 1.9.6
    Uninstalling pyproj-1.9.6:
      Successfully uninstalled pyproj-1.9.6
Successfully installed click-plugins-1.1.1 cligj-0.5.0 fiona-1.8.13.post1 geopandas-0.8.0 munch-2.5.0 pyproj-2.6.1.post1 shapely-1.7.0
Note: you may need to restart the kernel to use updated packages.